<?xml version="1.0" encoding="utf-8" ?>
<log4net>

  <appender name="Slumber.log" type="log4net.Appender.RollingFileAppender">
    <file value="Logs\log.txt" />
    <appendToFile value="true" />
    <rollingStyle value="Size" />
    <maxSizeRollBackups value="5" />
    <maximumFileSize value="5MB" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d [%t] %-5p %m%n" />
    </layout>
  </appender>

  <root>
    <level value="INFO" />
    <appender-ref ref="Slumber.log" />
  </root>

</log4net>